Repository plh97/make-appointment: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:prettier, stylelint, stylelint --customSyntax=post-scss

.lintstagedrc.json:

{
  "**/*.{json,md,html}": ["pnpm run lint:prettier"],
  "**/frontend/**/*.{js,ts,tsx}": ["pnpm run lint:prettier"],
  "**/backend/**/*.{js,ts,tsx}": ["pnpm run lint:prettier"],
  "**/*.css": "stylelint",
  "**/*.scss": ["pnpm run lint:prettier", "stylelint --customSyntax=post-scss"]
}

feat: init project
  .github/lighthouse/budget.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-CICD-actions.yml
  .github/workflows/main.yml
  ansible/ansible.cfg
  ansible/centos_motd
  ansible/cicd.yml
  ansible/hosts
  ansible/init.yml
  ansible/ssh_config
  nginx/certs/my-root-ca-cert.pem
  nginx/certs/my-root-ca-key.pem
  nginx/conf.d/default.conf
  nginx/dockerfile
  nginx/html/index.html
  scripts/replaceIP.js
  terraform/.dockerfile
  terraform/aws/dns.tf
  terraform/aws/main.tf
  terraform/aws/modify_ip.sh
  terraform/aws/output.tf
  terraform/aws/private_ips.txt
  terraform/aws/provider.tf
  terraform/aws/public_ip.txt
  terraform/aws/ssh.tf
  terraform/aws/ubuntu22.pkr.hcl
  terraform/aws/ubuntu22.sh
  terraform/aws/variable.tf
  terraform/docker-compose.yml
  terraform/vultr/dns.tf
  terraform/vultr/main.tf
  terraform/vultr/output.tf
  terraform/vultr/provider.tf
  terraform/vultr/ssh.tf
  terraform/vultr/ubuntu22.pkr.hcl
  terraform/vultr/ubuntu22.sh
  terraform/vultr/variable.tf
Due: pnpm run lint:prettier

feat: init project
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-CICD-actions.yml
  ansible/cicd.yml
  ansible/init.yml
  ansible/ssh_config
  backend.Dockerfile
  docker-compose.yml
  nginx/conf.d/default.conf
  package.json
  packages/backend/package.json
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/frontend/vercel.json
  terraform/aws/main.tf
  terraform/aws/modify_ip.sh
  terraform/aws/public_ip.txt
  terraform/aws/ubuntu22.pkr.hcl
  terraform/aws/ubuntu22.sh
Due: pnpm run lint:prettier

feat: init project
  .github/workflows/github-CICD-actions.yml
  ansible/update.yml
Due: none

feat: init project
  ansible/init.yml
  ansible/update.yml
Due: none

feat: init project
  .github/workflows/main.yml
Due: none

feat: init project
  .vscode/settings.json
  ansible/ssh_config
  packages/frontend/.env.production
  packages/frontend/package.json
  packages/frontend/src/messages/MediaMsg/AudioMsg.tsx
  packages/frontend/src/messages/MediaMsg/DocsMsg.tsx
  packages/frontend/src/messages/MediaMsg/ImageMsg.tsx
  packages/frontend/src/messages/MediaMsg/ProgressImage.tsx
  packages/frontend/src/messages/MediaMsg/VideoMsg.tsx
  packages/frontend/src/messages/MediaMsg/index.tsx
  packages/frontend/src/messages/RecallMsg.tsx
  packages/frontend/src/messages/SysMsg.tsx
  packages/frontend/src/messages/TextMsg.tsx
  packages/frontend/src/messages/index.tsx
  packages/frontend/src/utils/createStandAlone.tsx
  packages/frontend/tailwind.config.js
  packages/frontend/vercel.json
  pnpm-lock.yaml
  terraform/aws/main.tf
  terraform/aws/modify_ip.sh
  terraform/aws/public_ip.txt
Due: pnpm run lint:prettier

feat: init project
  packages/backend/src/index.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/scheduleEvent.ts
  packages/frontend/src/Api.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Calendar/index.css
  packages/frontend/src/components/Calendar/index.tsx
  packages/frontend/src/components/Layout.tsx
  packages/frontend/src/hooks/useReceiveMsg.ts
  packages/frontend/src/hooks/useReconnect.ts
  packages/frontend/src/hooks/useWebsocket.ts
  packages/frontend/src/styles/index.css
  packages/frontend/src/views/HomePage.tsx
  packages/frontend/src/views/InvesterPage.tsx
Due: pnpm run lint:prettier, stylelint

feat: init project
  docker-compose-dev.yml
  nginx/dockerfile
Due: none

feat: init project
  ansible/ssh_config
  packages/frontend/vercel.json
  terraform/aws/public_ip.txt
Due: pnpm run lint:prettier

feat: add granafa-faro
  packages/backend/src/index.ts
  packages/backend/src/routes/scheduleEvent.ts
Due: pnpm run lint:prettier

feat: init project
  nginx/certs/my-root-ca-cert.pem
  nginx/certs/my-root-ca-key.pem
Due: none

feat: init project
  backend.Dockerfile
  docker-compose.yml
  packages/backend/dockerfile
  packages/backend/package.json
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/constants.ts
  packages/backend/src/core/eventEmitter.ts
  packages/backend/src/core/index.ts
  packages/backend/src/core/interface.ts
  packages/backend/src/core/socketClient.ts
  packages/backend/src/core/socketServer.ts
  packages/backend/src/core/utils.ts
  packages/backend/src/interface.ts
  packages/backend/src/middleware/server-ws.ts
  packages/backend/src/model/scheduleEvent.ts
  packages/backend/src/prisma/index.ts
  packages/backend/src/routes/scheduleEvent.ts
  packages/backend/src/utils/sendWs.ts
  packages/backend/src/ws/index.ts
  packages/backend/tsconfig.json
  packages/core/package.json
  packages/db/.env
  packages/db/package.json
  packages/db/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/Api.ts
  packages/frontend/src/components/Calendar/index.tsx
  packages/frontend/src/hooks/useWebsocket.ts
  packages/frontend/src/interfaces/IMessage.ts
  packages/frontend/src/interfaces/IRoom.ts
  packages/frontend/src/interfaces/IUser.ts
  packages/frontend/src/utils/formatMessage.ts
  pnpm-lock.yaml
Due: pnpm run lint:prettier

feat: init project
  ansible/ssh_config
  nginx/certs/my-root-ca-cert.pem
  nginx/certs/my-root-ca-key.pem
  packages/frontend/vercel.json
  terraform/aws/public_ip.txt
Due: pnpm run lint:prettier

feat: init project
  docker-compose.yml
  my.cnf
  packages/backend/dockerfile
  packages/backend/package.json
Due: pnpm run lint:prettier

feat: add granafa-faro
  docker-compose.yml
Due: none

feat: init project
  .github/workflows/github-CICD-actions.yml
  docker-compose.yml
  packages/backend/dockerfile
  packages/backend/package.json
  packages/backend/src/prisma.ts
  packages/backend/tsconfig.json
Due: pnpm run lint:prettier

feat: add granafa-faro
  ansible/ssh_config
  packages/frontend/vercel.json
  terraform/aws/modify_ip.sh
  terraform/aws/public_ip.txt
Due: pnpm run lint:prettier

feat: add granafa-faro
  docker-compose-dev.yml
  docker-compose.yml
  packages/backend/src/prisma.ts
Due: pnpm run lint:prettier

feat: init project
  packages/backend/dockerfile
Due: none

feat: init project
  docker-compose.yml
Due: none

feat: init project
  docker-compose.yml
  my.cnf
Due: none

feat: init project
  ansible/init.yml
  ansible/ssh_config
  packages/frontend/vercel.json
  terraform/aws/public_ip.txt
Due: pnpm run lint:prettier

feat: add granafa-faro
  ansible/init.yml
  packages/backend/dockerfile
Due: none

feat: init project
  ansible/init.yml
  packages/backend/dockerfile
Due: none

feat: add granafa-faro
  ansible/init.yml
  ansible/ssh_config
  backend.Dockerfile
  docker-compose.yml
  nginx/conf.d/default.conf
  package.json
  packages/backend/README.md
  packages/backend/package.json
  packages/frontend/vercel.json
  terraform/aws/public_ip.txt
Due: pnpm run lint:prettier

feat: add granafa-faro
  ansible/ssh_config
  packages/frontend/vercel.json
  terraform/aws/public_ip.txt
Due: pnpm run lint:prettier

feat: add granafa-faro
  ansible/init.yml
  docker-compose.yml
  nginx/conf.d/default.conf
Due: none

feat: add granafa-faro
  ansible/init.yml
  ansible/ssh_config
  packages/frontend/vercel.json
  terraform/aws/main.tf
  terraform/aws/public_ip.txt
  terraform/aws/ubuntu22.pkr.hcl
Due: pnpm run lint:prettier

feat: add granafa-faro
  packages/backend/package.json
Due: pnpm run lint:prettier

feat: init project
  packages/frontend/vercel.json
  terraform/aws/variable.tf
  terraform/vultr/dns.tf
  terraform/vultr/main.tf
  terraform/vultr/modify_ip.sh
  terraform/vultr/provider.tf
  terraform/vultr/ssh.tf
  terraform/vultr/variable.tf
Due: pnpm run lint:prettier

Create README.md
  README.md
Due: pnpm run lint:prettier

Update README.md
  README.md
Due: pnpm run lint:prettier

feat: add granafa-faro
  backend.Dockerfile
  docker-compose.yml
  packages/frontend/.env.production
  terraform/vultr/modify_ip.sh
Due: none

feat: add granafa-faro
  packages/frontend/.env.production
  packages/frontend/vercel.json
Due: pnpm run lint:prettier

feat: add granafa-faro
  packages/frontend/vercel.json
Due: pnpm run lint:prettier
